.dropbox
*.ko
*boot.img
*newBoot.img
*zImage
*zImageBC
*ramdisk-boot
ccache.txt
*.pyc
installkernel.sh
vorkKernelScripts/Awesome.zip/tmp/vorkKernel/files/lib/modules
installkernel.pre2.sh
installkernel.pre3.sh
